body{
  background-color: #D1E8E4;
}
.header{
  display: flex;
  justify-content: center;
  color: rgb(34, 14, 218);
}
.card{
  display: flex;
  width: 80vw;
  border: 2px solid rgb(60, 42, 218);
  margin: 10px auto;
}
.foto{
  padding: 15px;
  width: 25%;
}
h2{
 text-decoration:  underline;
}
.descript{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}
.btn{
  background-color: rgb(60, 42, 218);
  padding: 10px;
  text-transform: uppercase;
}
.butt{
  border: none;
  background-color: #D1E8E4;
  color: black;
  text-transform: none;
  font-style: italic;
  font-size: 16px;
font-family: 'Times New Roman', Times, serif;
margin: 0;

}

